@use "variables" as *;

#board {
	display: grid;
	width: $width;
	height: $width;
	grid-template-columns: repeat(#{$size-x}, 1fr);
	grid-template-rows: repeat(#{$size-y}, 1fr);
	gap: 8px;

	label {
		--state: 1;
		transition: background-color 200ms ease;
		border-radius: 5px;
		cursor: pointer;
		background-color: hsl(
			60,
			calc(var(--state) * 100%),
			calc(30% + var(--state) * 30%)
		);
		box-shadow: 0px 0px calc(var(--state) * 16px)
				rgba($primary-color, 0.4),
			0px 0px 5px #0005 inset;
	}

	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		left: -100vw;
	}
}
