@use "variables" as *;

menu {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
	row-gap: 5px;
	flex-wrap: wrap;
	padding-top: 20px;
}

button {
	font-family: inherit;
	font-size: inherit;
	border: none;
	outline: none;
	color: inherit;
	background: none;
	cursor: pointer;
	background-color: $secondary-color;
	padding: 6px 12px;
	border-radius: 3px;
	&:hover,
	&:focus-visible {
		filter: brightness(1.2);
	}
}
