@use "variables" as *;

.resetMenu {
	display: flex;
	justify-content: center;
	padding-block: 20px;
}

button {
	font-family: inherit;
	font-size: inherit;
	border: none;
	outline: none;
	color: inherit;
	background: none;
	cursor: pointer;
	background-color: $secondary-color;
	padding: 5px 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #fff2;
	&:hover,
	&:focus-visible {
		filter: brightness(1.2);
	}
}
