@use "sass:list";
@use "variables" as *;

// computes the list of valid neighbors at some coordinate
// including the coordinate itself
@function neighbors($i, $j) {
	$list: ();
	$list: append($list, ($i, $j));

	@if ($i > 1) {
		$list: append($list, ($i - 1, $j));
	}
	@if ($j > 1) {
		$list: append($list, ($i, $j - 1));
	}
	@if ($i < $size-x) {
		$list: append($list, ($i + 1, $j));
	}
	@if ($j < $size-y) {
		$list: append($list, ($i, $j + 1));
	}
	@return $list;
}

#game {
	@supports not (selector(:has(*))) {
		display: none;
	}

	width: $width;
	margin: 0 auto;

	// counter for lights
	$index: 0;

	// string for maximum of all states
	$max-string: "";

	// loop through all lights
	@for $i from 1 through $size-x {
		@for $j from 1 through $size-y {
			$index: $index + 1;

			// counter for neighbors of light
			$n: 0;

			// compute the state of the light:
			@each $neighbor in neighbors($i, $j) {
				$x: nth($neighbor, 1);
				$y: nth($neighbor, 2);
				$n: $n + 1;

				// add 1 modulo 2 when neighbor is checked
				&:has(#c#{$x}#{$y}:checked) {
					@if ($n == 1) {
						--s#{$i}#{$j}#{$n}: calc(
							1 - var(--level#{$i}#{$j})
						);
					} @else {
						--s#{$i}#{$j}#{$n}: calc(
							1 - var(--s#{$i}#{$j}#{$n - 1})
						);
					}
				}

				// add 0 modulo 2 when neighbor is not checked
				&:has(#c#{$x}#{$y}:not(:checked)) {
					@if ($n == 1) {
						--s#{$i}#{$j}#{$n}: var(--level#{$i}#{$j});
					} @else {
						--s#{$i}#{$j}#{$n}: var(
							--s#{$i}#{$j}#{$n - 1}
						);
					}
				}
			}

			// set the state
			label[for="c#{$i}#{$j}"] {
				--state: var(--s#{$i}#{$j}#{$n});
			}

			// compute the maximum of all states,
			// game is solved when max = 0
			@if ($index == 1) {
				$max-string: "var(--s#{$i}#{$j}#{$n})";
			} @else {
				$max-string: $max-string + ",var(--s#{$i}#{$j}#{$n})";
			}
		}
	}

	--max: max(#{$max-string});
}
