@use "variables" as *;

$number: 5;

input[type="radio"] {
	position: absolute;
	opacity: 0;
	left: -100vw;
}

.levelLabel {
	opacity: 0.8;
	cursor: pointer;
}

.resetHint {
	margin-top: 10px;
}

@for $l from 1 through $number {
	input[id="level#{$l}"]:checked ~ #game label[for="level#{$l}"] {
		color: $main-color;
		opacity: 1;
	}
}

body:has(#level1:checked) #game {
	@for $i from 1 through $size-x {
		@for $j from 1 through $size-y {
			--level#{$i}#{$j}: 1;
		}
	}
}

body:has(#level2:checked) #game {
	@for $i from 1 through $size-x {
		@for $j from 1 through $size-y {
			@if ($i == $j + 1) {
				--level#{$i}#{$j}: 1;
			} @else {
				--level#{$i}#{$j}: 0;
			}
		}
	}
}

body:has(#level3:checked) #game {
	@for $i from 1 through $size-x {
		@for $j from 1 through $size-y {
			@if ($i == 3 and $j == 3) {
				--level#{$i}#{$j}: 1;
			} @else {
				--level#{$i}#{$j}: 0;
			}
		}
	}
}

body:has(#level4:checked) #game {
	@for $i from 1 through $size-x {
		@for $j from 1 through $size-y {
			@if (
				($i == 1 or $i == 3 or $i == 5) and
					($j == 1 or $j == 3 or $j == 5)
			) {
				--level#{$i}#{$j}: 1;
			} @else {
				--level#{$i}#{$j}: 0;
			}
		}
	}
}

// prettier-ignore
body:has(#level5:checked) #game {
	@for $i from 1 through $size-x {
		@for $j from 1 through $size-y {
			@if ($i ==1 or $j == 1 or
				 $i == $size-x or $j == $size-y - 1
			) {
				--level#{$i}#{$j}: 1;
			} @else {
				--level#{$i}#{$j}: 0;
			}
		}
	}
}
